# ========================================
# Python
# ========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
venv/
env/
ENV/
.venv/
.idea/
.vscode/
*.log

# ========================================
# Jupyter Notebooks
# ========================================
.ipynb_checkpoints
*.ipynb_save
*.ipynb_checkpoints/*

# ========================================
# VSCode / PyCharm
# ========================================
*.code-workspace
.vscode/
.idea/

# ========================================
# Sistema operacional
# ========================================
.DS_Store
Thumbs.db

# ========================================
# Banco de Dados local
# ========================================
*.db
*.sqlite3

# ========================================
# Modelos treinados
# ========================================
*.pkl
*.joblib

# ========================================
# Ambiente virtual / pacotes
# ========================================
/.env
/.venv
/.mypy_cache/
.pytest_cache/
.pyre/
.coverage
htmlcov/

# ========================================
# Docker
# ========================================
*.pid
*.seed
*.pid.lock
